html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

button {
    background-color: #0057A3;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px;
    height: 60px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    vertical-align: center;
    font-size: 30px;
}

button:hover {
    cursor: pointer;
    background-color: #00B3F2;
}

#btnAdd {
    width: 60px;
}

img {
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 5px;
    height: 15vh;
    margin: 0;
    padding: 0.3vh;
}

img:hover {
    border-color: #CCCCCC;
    border-style: dashed;
    cursor: pointer;
}

td, tr {
    margin: 0;
    padding: 0;
}

table {
    margin: auto;
    padding: 0;
}

.button_div {
    text-align: center;
    margin: auto;
}
