#game {
  display:none;
}

#playerinfo {
  display: none;
}

#error {
  display: none;
  color: #C00;
}

img {
  border-style: solid;
  border-color: #FFFFFF00;
  border-radius: 5px;
  border-width: 0.5vh;
  height: 13vh;
  margin: 0;
  padding: 0.2vh;
}

#drawpile:hover, .handcard:hover {
  border-color: #CCCCCC;
  border-style: dashed;
  cursor: pointer;
}

table {
  margin: auto;
  padding: 0;
}

td, tr {
  margin: 0;
  padding: 0;
}

#hand {
  height: 14.4vh;
}

.handcard {
  /*position: absolute;*/
}

.smallButton {
  background-color: #0057A3;
  border-color: #0057A3;
  border-radius: 1vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vmin;
  padding: 2vmin 2vmin;
  text-align: center;
  width: 8.4vh;
}

#btnEndTurn {
  /*display: none;*/
}

#btnTakeBackCard {
  display: none;
}
