#game {
  display:none;
}

#playerinfo {
  display: none;
}

#error {
  display: none;
  color: #C00;
}

img {
  border-style: solid;
  border-color: #FFFFFF00;
  border-radius: 5px;
  border-width: 5px;
  height: 13.3vh;
  height: calc(var(--vh, 1vh) * 13.3);
  margin: 0;
  padding: 0.2vh;
  padding: calc(var(--vh, 1vh) * 0.2);;
}

#drawpile:hover, .handcard:hover {
  border-color: #CCCCCC;
  border-style: dashed;
  cursor: pointer;
}

table {
  margin: auto;
  padding: 0;
}

td, tr {
  margin: 0;
  padding: 0;
}

#hand {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.handcard {
  /*position: absolute;*/
}

.smallButton {
  background-color: #0057A3;
  border-color: #0057A3;
  border-radius: 1vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vmin;
  padding: 2vmin 2vmin;
  text-align: center;
  width: 8.4vh;
}

#btnEndTurn {
  display: none;
}

#btnTakeBackCard {
  display: none;
}

#btnTakeBackCard {
  display: none;
}
