html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.button {
    background-color: #0057A3;
    border: none;
    color: white;
    margin: 10px;
    height: 60px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    vertical-align: center;
    font-size: 30px;
}

button:hover, .button:hover {
    cursor: pointer;
    background-color: #00B3F2;
}

#btnAdd {
    width: 60px;
}

img {
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 5px;
    height: 15vh;
    margin: 0;
    padding: 0.3vh;
}

img:hover {
    border-color: #CCCCCC;
    border-style: dashed;
    cursor: pointer;
}

td, tr {
    margin: 0;
    padding: 0;
}

table {
    margin: auto;
    padding: 0;
}

.button_div {
    text-align: center;
    margin: auto;
}



.welcome {
  font-size: 10vmin;
  color: #0057A3;
  margin-top: 20vmin;
  margin-bottom: 10vmin;
}

.joinGame {
  display: inline-block;

}

.stringInput {
  border-color: #CCCCCC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vmin;
  padding: 2vmin;
}

.btn {
  background-color: #0057A3;
  border-color: #0057A3;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vmin;
  padding: 2vmin 5vmin 2vmin 5vmin;
  margin-left: 5vmin;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #00B3F2;
}
